@keyframes fade-in {
  from {
    opacity: 0;
  }
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}
@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}
@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}

@media screen and (width > 600px) {
  ::view-transition-old(root) {
    animation:
      fade-out 90ms cubic-bezier(0.4, 0, 1, 1) both,
      slide-to-left 300ms cubic-bezier(0.4, 0, 0.2, 1) both;
  }
  ::view-transition-new(root) {
    animation:
      fade-in 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both,
      slide-from-right 300ms cubic-bezier(0.4, 0, 0.2, 1) both;
  }
}

@media screen and (width > 1000px) {
  .navigation-drawer {
    min-height: auto;
    width: auto;
    padding: 0;
    background-color: transparent;

    flex-direction: row;
    justify-content: space-between;

    position: static;
    box-shadow: none;
    transform: translateX(0);
  }

  .nav-list,
  .navigation-drawer__navlist {
    flex-direction: row;
  }

  .nav-list li a {
    display: inline-block;
  }

  .drawer-button {
    display: none;
  }
}
